/* Estilo para a página de pesquisa de livros */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-results {
    margin-top: 20px;
}

.search-results h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.book-title a {
    color: #007bff;
    text-decoration: none;
}

.book-id a {
    color: red;
    text-decoration: none;
}

.navigation {
    margin-top: 20px;
}

.navigation .button {
    margin-right: 10px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
}

.delete-text {
    color: red;
}

.edit-text {
    color: blue;
}
/* Estilo para a página de atualização de livros */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin-top: 10px;
    font-size: 14px;
}
/* style.css */

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.menu {
    background-color: #333;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline;
    margin-right: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu ul li a:hover {
    background-color: #555;
}

.content {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.footer {
    text-align: right;
    padding: 10px;
    background-color: #333;
}

.button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #777;
}
