<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

<h2>Login Page</h2>
<form method="POST">
    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <button type="submit">Login</button>
    </div>
    <div class="container">
        {{msg}}
    </div>
</form>
</body>
</html>
